body{
background-image: url('https://lamural.pl/wp-content/uploads/2024/01/Fototapeta-Chmury-Rozowe_2149580273.jpg');
}
h1{
font-family: Georgia;
font-size: 100px;
text-align: center;
color: rgb(255, 108, 133);
}
img{
    padding-left: 580px;
}
